<ul>
  
    <% if (currentUser) { %>
      <a href='/new/'>Add new car details</a>
    <li>Welcome <%= currentUser.username %></li>
    <li>
      
      <form action="/sessions/delete?_method=DELETE" method="POST">
        <input type="submit" value="Log Out" class="btn-small red" />
      </form>
    </li>
    <% } else { %>
    <li><a href="/users/new">Admin Sign Up/</a></li>
    <li><a href="/sessions/new">Log In</a></li>
    <% } %>
</ul>