<ul>
  <a href="/" id="nav">Home</a>
  <a href='/usedcars/' id="nav">Used cars</a>
    <% if (currentUser) { %>
      <a href='/new/' id="nav">Add new car details</a>
    <li>Welcome <%= currentUser.username %></li>
    <li>
      
      <form action="/sessions/delete?_method=DELETE" method="POST" id="navform">
        <input type="submit" value="Log Out" class="btn" />
      </form>
    </li>
    <% } else { %>
      
          <li><a href="/users/new" id="nav">Sign Up</a></li>
         <li><a href="/sessions/new" id="nav">Log In</a></li>

   
    <% } %>
</ul>