<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new car details</title>
</head>
<body>
  

        <div class="container">
            <h1>Add a New Car </h1>
            
            <form action="/" method="POST">
                 MODEL:<input type="text" name="name"/></br> 
                 FEATURES:<textarea name="features"></textarea></br> 
                 CAR IMAGES FRONT:<input type="url" name="imageFront" /></br> 
                 CAR IMAGES SIDE:<input type="url" name="imageSide" /></br> 
                 CAR IMAGES INTERIOR:<input type="url" name="imageInside" /></br> 
                 DEALER PRICE:<input type="number" name="price"/></br> 
                 STOCK:<input type="number" name="qty"/></br> 
                <input type= "submit" name="" value="Add to Inventory"/>
        
            </form>
            </div>

            



</body>
</html>