body {
     background-image: url('./logo.png');
    background-size: cover;
    
}

/*index page*/
 img {
     border: 2px solid black;
     border-radius: 20px;
     
     width: 140px;
     height: 140px;
 
 }
 ul {
     list-style: none;
     
 }

 /* div of main page*/
 .items {                 
     text-align: center;
   border: 2px solid gold;
   border-radius: 20px;
   width: 150px;
   
  display: inline-block;
  background-color: transparent;
  text-shadow: 0px 0px 10px grey;

 }
 li {
   color: silver;
   
 }
 
 input[type="submit"] {
    width: 150px;
    height: 40px;
    font-size: 1.3em;
    color: white;
    border-radius: 5px;
    border: 3px solid silver
    

  }

  input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
   
    border: 8px solid var(--dusty-blue);
    
  }
  textarea {
    width: 200px;
    height: 100px;
    max-width: 400px;
    max-height: 150px;
   }

   /* show page*/
   h6,h5{
     color: white;
     text-shadow: 0px 0px 20px blue;
   }
   h5{
    color: silver;
   text-decoration: underline;
    
  }
   a {
     color: white;
   }

   form {
 width: 800px;
    color: grey;
    
    text-decoration: none;
    
   }

 .update {
   color:white;
   border: 2px solid silver;
   border-radius: 5px;
   padding: 6px;
   text-decoration: none;
   
   
   
 }  
   /* image of show page */
 #img {

  width: 150px;
  height: 150px;
  transition: 3s;
 }
 /* image of show page */
 #img:hover {

  width: 400px;
  height: 400px;
  
 }
 /*edit page div*/

 .edit {
   padding-left: 200px;
 }
 #navform {

  text-align: initial;
 }
/* nav page   */
 #nav {
   padding-right: 10px;
display: flex;

justify-content: flex-end;


  
 }

 .usedcars {                 
  text-align: center;
border: 2px solid gold;
border-radius: 20px;
width: 200px;
height:auto;
display: inline-block;
background-color: transparent;
align-content: space-around;
transition: 3s;

}

 .usedcars:hover{

  width: 400px;
  height: 400px;
  
  
 }

 .usedinput, .logindiv{

  width: 150px;
  
  
 }

 .useddiv{

text-align: center;

 }

 #editbutton{

  width: 250px;
 }

 #addnewbutton {
  width:250px;

 }