body {
     background-image: url('./logo.png');
    background-size: cover;
    
}

/*index page*/
 img {
     border: 2px solid black;
     border-radius: 20px;
     
     width: 170px;
     height: 170px;
 
 }
 ul {
     list-style: none;
     
 }

 
 .items {
     text-align: center;
   border: 2px solid gold;
   border-radius: 20px;
   width: 200px;
  display: inline-block;
  background-color: transparent;
  

 }
 li {
   color: silver;
   text-shadow: whitesmoke;
 }
 input[type="submit"] {
    width: 230px;
    height: 40px;
    font-size: 1.3em;
    color: white;
    border-radius: 5px;
    border: 3px solid silver
    

  }

  input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
   
    border: 8px solid var(--dusty-blue);
    
  }
  textarea {
    width: 200px;
    height: 100px;
    max-width: 400px;
    max-height: 150px;
   }

   /* show page*/
   h6{
     color: silver;
     
   }
   a {
     color: white;
   }

   form {
 width: 800px;
    color: grey;
    
    text-decoration: underline;
    
   }

 .update {
   color:white;
   border: 2px solid silver;
   border-radius: 5px;
   padding: 6px;
   text-decoration: none;
   
   
   
 }  
   
 #img {

  width: 150px;
  height: 150px;
  transition: 3s;
 }

 #img:hover {

  width: 400px;
  height: 400px;
  
 }
 /*edit page div*/

 .edit {
   padding-left: 200px;
 }
 #navform {

  
 }